body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    margin: 0;
}

header{
    height: 50px;
    background-color: rgb(17, 8, 70);
    margin: 0;
    width: 100%;
    padding: 10px;
}

h1{
    float: left;
    color: white;
    margin: 10px; 
}

p{
    color: rgb(51, 47, 47);
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#controles{
    margin: 0 auto;
    width: 420px;
}

#controles label{
    color: white;
}

#play-pause{   
    border: 0px;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#play-pause[value=PLAY]{
    background-color: rgb(19, 100, 30);
}

#play-pause[value=PAUSE]{
    background-color: rgb(116, 21, 21);
}

#arpejo{
    border: 0px;
    background-color: rgb(15, 87, 92);
    color: white;
    width: 195px;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}

label[for=repetir]{
    font-size: 16px;
    margin-bottom: 10px;
}

#controle-repeticao{
    background-color: rgb(15, 87, 92);
    border-radius: 25px;
    padding: 10px;
    display: inline;
    margin-right: 10px;
}

#controle-andamento{
    margin: 50px auto 0 auto;
    width: 170px;

}

#label-bpm{
    color: rgb(15, 87, 92);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#bpm{
    margin-top: 20px;
}

#area-acordes{
    margin: 50px auto 0 auto;
    width: 420px;    
}

#acordes{
    width: 300px;
    height: 30px;
}

#botao-acordes{
    background-color: rgb(15, 87, 92);
    border: 0px;
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#painel-oculto{
    margin-bottom: 200px;
}

a{
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    
}

@media (max-width: 800px) {
    a{
        margin-top: 20px;
        margin-left: 10px;
        float: none;
        font-size: 15px;
    }

    h1{
        float: none;
        font-size: 28px;
    }

    header{
        height: 80px;
    }

    #area-acordes{
        width: 90%;
    }

    #acordes{
        width: 100%;
    }
    
    #botao-acordes{
        width: 100%;
        margin-top: 30px;
        height: 50px;
    }

    #controles{
        width: 90%;
    }

    #play-pause{
        margin-top: 20px;
        width: 100%;
    }

    #controle-repeticao{
        display:block;
        width: 90px;
        margin: auto;
        padding-left: 20px;
    }

    #arpejo{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    #controle-andamento{
        margin: auto;
        margin-top: 50px;
        width: 150px;
    }

    p{
        margin-top: 30px;
        font-size: 33px;
    }
}