.navbar-fixa{
  position: fixed;
  width: 100%;
  z-index: 4000;
}

.tela-cheia{
height: 100vh;
}

#input-principal{
  font-size: 12px;
}

#btn-principal{
  font-size: 12px;
}

.cifra{
  font-family: 'Quicksand', sans-serif;
  margin: 10px 0 10px 0;
  font-size: 13px;
  font-weight: 400;
}

footer{
  font-size: 12px;
}

.display-4{
  font-size: 18px;
}

.lead{
  font-size: 13px;
}

#player{
  display: none; /*para iniciar sem aparecer*/
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#play-pause, #arpejo, #andamento{
  font-size: 10px;
}

/*texto responsivo (sm)*/
@media (min-width: 576px) {
  #input-principal{
      font-size: 18px;
  }
  
  #btn-principal{
      font-size: 18px;
  }

  .cifra{
      font-size: 22px;
  }
  
  footer{
      font-size: 14px;
  }

  .display-4{
      font-size: 25px;
  }
  
  .lead{
      font-size: 18px;
  }

  #player{
      width: 80%;
  }
}

@media (min-width: 600px) {
  #play-pause, #arpejo, #andamento{
      font-size: 16px;
  }
}

/*(lg)*/
@media (min-width: 1200px) {
  #player{
      width: 50%;
  }
}